* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap");
}

body {
  color: #0e0e0e;
  background-color: #a5a5a5;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  max-height: 100vh;
}

header {
  padding-top: 10px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  font-size: 20px;
  background-color: #333333;
}

footer span {
  color: red;
}

footer a {
  text-decoration: none;
  color: #e5e5e5;
}
